name: Release & Create Unity Package

on:
  push:
    branches: 
      - master
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
    - uses: EndBug/version-check@v1
      id: check
      with:
        file-name: Assets/package.json
        diff-search: true
    - name: Log when changed
      if: steps.check.outputs.changed == 'true'
      run: 'echo "Version change found in commit ${{ steps.check.outputs.commit }}! New version: ${{ steps.check.outputs.version }} (${{ steps.check.outputs.type }})"'
    - name: Gather files
      if: steps.check.outputs.changed == 'true'
      run: |
        echo "Assets/Colyseus.meta" > metaList
        find Assets/Colyseus/ -name \*.meta >> metaList
    - name: Generate Unity Package
      if: steps.check.outputs.changed == 'true'
      id: build-package
      uses: pCYSl5EDgo/create-unitypackage@master
      with:
        package-path: 'Colyseus.unitypackage'
        include-files: metaList
    - name: Changelog
      if: steps.check.outputs.changed == 'true'
      uses: scottbrenner/generate-changelog-action@master
      id: changelog
    - name: Create Release
      if: steps.check.outputs.changed == 'true'
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.check.outputs.version }}
        release_name: ${{ steps.check.outputs.version }}
        body: |
            # Changes
            ${{ steps.changelog.outputs.changelog }}
        draft: false
        prerelease: true
    - name: Upload Release Asset
      if: steps.check.outputs.changed == 'true'
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./Colyseus.unitypackage
        asset_name: Colyseus.unitypackage
        asset_content_type: application/x-gzip
